[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"

[packages]
awscli = "*"
canvasapi = "*"
environs = "*"
repo = "*"
python-git = "*"
gitpython = "*"
pandas = "*"
xlrd = "*"
openpyxl = "*"
pyarrow = "*"
csci-utils = {editable = true,git = "https://github.com/csci-e-29/2021sp-csci-utils-lalitanjali-ai"}
luigi = "*"
torch = "*"
torchvision = "*"
boto3 = "*"
dask = "*"

[requires]
python_version = "3.8"
